<form action="/action/delete/{{_id}}?_method=DELETE" method="POST">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete" class="btn btn-danger btn-block">
</form>