
<div class="row">
    <div class="col-12">
        <footer>
            © thedirtydeveloper 2018, All Rights Reserved (or do whatever you want with this)
        </footer>
        <br>
    </div>
</div>