<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Ultimate Porn Space</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favorites">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stars">Pornstars</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/tag">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action="/">
      <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
      <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Search" id="search_b"/>
    </form>
  </div>
</nav> 