<a href="/{{back_page}}/{{find}}"><button type="button" class="btn btn-primary btn-lg" >Back page</button></a>
<a href="/{{next_page}}/{{find}}"><button type="button" class="btn btn-primary btn-lg">Next page</button></a>