<div class="row">
    <div class="col-12">
      <a class="github-button" href="https://github.com/Cospel1" data-size="large" aria-label="Follow @Cospel1 on GitHub">Follow @Cospel1</a>&nbsp;
      <a class="github-button" href="https://github.com/Cospel1/Pornify" data-icon="octicon-star" data-size="large" aria-label="Star Cospel1/Pornify on GitHub">Star</a>    
    </div>
  </div>