<div class="row">
    <div class="col-12">
      <a class="github-button" href="https://github.com/TheDirtyDeveloper" data-size="large" aria-label="Follow @TheDirtyDeveloper on GitHub">Follow @TheDirtyDeveloper</a>&nbsp;
      <a class="github-button" href="https://github.com/TheDirtyDeveloper/porn-site" data-icon="octicon-star" data-size="large" aria-label="Star TheDirtyDeveloper/porn-site on GitHub">Star</a>
    </div>
  </div>